version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: portal-postgres
    environment:
      POSTGRES_USER: portal
      POSTGRES_PASSWORD: portal
      POSTGRES_DB: portal
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: portal-redis
    ports:
      - "6379:6379"

  minio:
    image: minio/minio
    container_name: portal-minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: portal
      MINIO_ROOT_PASSWORD: portal123
    ports:
      - "9000:9000" # S3 API
      - "9001:9001" # MinIO Console
    volumes:
      - minio_data:/data

  clamav:
    image: clamav/clamav:stable
    container_name: clamav
    ports:
      - "3310:3310"
    restart: unless-stopped

  keycloak:
    image: quay.io/keycloak/keycloak:24.0
    container_name: portal-keycloak
    command: start-dev
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8080:8080"
    depends_on:
      - postgres

volumes:
  postgres_data:
  minio_data:
